AEMET_API_KEY=tu_api_key_aqui
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=eu-west-1
S3_BUCKET=meteo-blog-frontend
CLOUDFRONT_DISTRIBUTION_ID=
BEDROCK_MODEL_ID=eu.amazon.nova-lite-v1:0
BEDROCK_REGION=eu-west-1
